<!DOCTYPE html>
<html>

<head>
    <title>Repositories Data</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }

        table {
            width: 70%;
            margin-left: 1em;
        }
    </style>
</head>

<body>
    {% for repository in data.repositories %}
    <h1>{{ repository.name }}</h1>
    {% for file_type in repository.types %}
    <h3>{{ file_type.type }}</h3>
    <table>
        <thead>
            <tr>
                <th>File Name</th>
                <th>Error</th>
            </tr>
        </thead>
        <tbody>
            {% for file in file_type.files %}
            <tr>
                <td>{{ file.name }}</td>
                <td>{{ file.result_error }}</td>
            </tr>
            {% endfor %}
            {% if file_type.errors %}
            <tr>
                <td colspan="2">
                    <h3>Errors:</h3>
                    <ul>
                        {% for error in file_type.errors %}
                        <li><b>File: </b> {{ error.file }}<br><b>Error:</b> {{ error.error }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    {% endfor %}
    {% endfor %}
</body>

</html>